# Streamlit secrets (Contains local DB passwords)
.streamlit/secrets.toml

# Python virtual environments
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc

# Operating system files
.DS_Store
Thumbs.db